.option-item-box {
  margin-left: -12px !important;
  position: relative;
}
.photo-content {
  cursor: pointer;
  display: inline-block;
  top: 8px;
  left: 0;
  position: absolute;
}
.remove-content {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 45px;
  display: inline-block;
}
.error-option {
  margin: -10px 0 10px 5px;
}
.error-ws {
  white-space: break-spaces;
}